In [30]:
# To print only even number 

x = 4
r = x%2

if r == 0: 
    print('even')

even

In [31]:
#number is even, but since x = 5, nothing prints because 5 is odd.Since r == 0 is false, the print line doesn’t run.
x = 5
r = x % 2 

if r == 0:
    print('Even number')

In [32]:
#x = 5 → 5 % 2 = 1 ,if r == 0: → False, So Even number is NOT printed, But print('odd number') is outside the if block, That means odd number will ALWAYS print, no matter what x is.
x = 5
r = x % 2 

if r == 0:
    print('Even number')
    
print('odd number')

odd number

In [33]:
#x = 8, 8 % 2 = 0, if r == 0: → True, prints Even number, print('odd number') is outside the if, so it always runs
x = 8
r = x % 2 

if r == 0:
    print('Even number')
    
print('odd number')

Even number
odd number

In [34]:
#x = 5, 5 % 2 = 1, First if r == 0 → False → nothing prints, Second if r == 1 → True → prints odd number
x = 5
r = x % 2 

if r == 0:
    print('Even number')
if r == 1:
    print('odd number')

odd number

In [35]:
#x = 5, r = 5 % 2 = 1, Now the conditions: if r == 0: → False → nothing, if r != 0: → True → prints odd number, if r == 1: → True → prints odd number
x = 5
r = x % 2 

if r == 0:
    print('Even number')
if r != 0:
    print('odd number')
if r == 1:
    print('odd number')

odd number
odd number

In [36]:
#x = 11, 11 % 2 = 1, if r == 0 → False, else runs
x = 11
r = x % 2 

if r == 0:
    print('Even number')
else:
    print('odd number')

odd number

In [37]:
#if r == 0 → True, print('Even number') runs, else is skipped
x = 10
r = x % 2 

if r == 0:
    print('Even number')
else:
    print('odd number')

Even number

In [38]:
#x = 3, r = 3 % 2 = 1, logic: if r == 0: → False, Python skips the entire indented block, including the inner if x > 5, else: runs, prints Odd Number
x = 3
r = x % 2

if r == 0:
    print('Even number')
    
    if x>5:
        print('greater number')
  
else:
    print('Odd Number')

Odd Number

In [39]:
#x = 4, r = 4 % 2 = 0, Outer condition: if r == 0: → True, prints Even number, Inner condition: if x > 5: → False, does NOT print greater number, else belongs to the outer if, so it is skipped.
x = 4
r = x % 2

if r == 0:
    print('Even number')
    
    if x>5:
        print('greater number')
  
else:
    print('Odd Number')

Even number

In [40]:
#x = 4, r = 4 % 2 = 0, Outer condition: if r == 0: → True, prints Even number, Inner condition: if x > 5: → ❌ False, else runs → prints smaller numberOuter else is skipped.
x = 4
r = x % 2

if r == 0:
    print('Even number')
    
    if x>5:
        print('greater number')
   
    else:
        print('smaller number')
else:
    print('Odd Number')

Even number
smaller number

In [41]:
#x = 1, Checks happen one by one:, if x == 1 → True → prints one, if x == 2 → False, if x == 3 → False, if x == 4 → False
x = 1

if x == 1:
    print('one')
if x == 2:
    print('Two')
if x == 3:
    print('Three')
if x == 4:
    print('four')

one

In [42]:
#x = 4, Python checks conditions top to bottom, x == 1 → f, x == 2 → f, x == 3 → f, x == 4 → t → prints four, Python stops here
x = 4

if x == 1:
    print('one')
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('four')

four

In [43]:
#x = 5, Python checks each condition top → bottom, x == 1 f, x == 2 f, x == 3 f, x == 4 f, none matched → else runs
x = 5

if x == 1:
    print('one')
    
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('four')

else:
    print('number not found')

number not found

Loops

In [44]:
print('data science')
print('data science')
print('data science')
print('data science')    
print('data science')

data science
data science
data science
data science
data science

In [45]:
#Start: i = 1, Loop runs while i <= 5 is True
i = 1          # initializing

while i<=5:    # condition
    print('data science')
    i = i + 1  # increment

data science
data science
data science
data science
data science

In [46]:
#Start: i = 5, Loop runs while i >= 1 is True
i = 5          # initializing

while i>=1:    # condition
    print('data science')
    i = i - 1  # increment

data science
data science
data science
data science
data science

In [47]:
#Start: i = 1, The loop runs while i <= 5
i = 1         # initializing
while i<=5:    # condition
    print('data science : ', i)
    i = i + 1  # increment

data science :  1
data science :  2
data science :  3
data science :  4
data science :  5

In [48]:
#Start: i = 5, The loop runs while i >= 1:
i = 5         # initializing
while i>=1:    # condition
    print('data science : ', i)
    i = i - 1  # increment

data science :  5
data science :  4
data science :  3
data science :  2
data science :  1

In [49]:
#Outer loop (i) runs 5 times, For each outer loop iteration:, Prints data science once, Inner loop (j) runs 4 times, Prints technology 4 times, Prints a blank line, Then moves to the next i
i = 1

while i<=5:
    print('data science') # when we mention end then new line will not create
    j = 1
    while j<=4:
        print('technology')
        j = j + 1
        
    i = i + 1
    print()

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [50]:
#Outer loop (i) runs 5 times, For each outer iteration:, datascience prints once, Inner loop (j) prints technology 4 times on the same line, print() moves to the next line
i = 1
while i<=5:
    print(' datascience', end = "") # when we mention end then new line will not create
    j = 1
    while j<=4:
        print(' technology', end="")
        j = j + 1
        
    i = i + 1
    print()

 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology

In [51]:
#Outer loop (i) runs for: 1, 2., Inner loop (j) runs for: 0, 1, 2, Each row prints values of i * j, end=" " keeps values on the same line, print() moves to the next row
i = 1

while i <= 2 :
    j = 0
    while  j <= 2 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2
0 2 4

In [52]:
#Outer loop i → 1, 2, 3, 4, Inner loop j → 0, 1, 2, 3, Each row prints values of i * j
i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

Conditional Statements (Decision Making)

Conditional statements let your program make decisions and run different code depending on whether a condition is True or False.

Think of it like:

If it rains → take umbrella
Else → go without umbrella

1. if Statement

Runs code only if condition is True

Syntax
if condition:
    code

In [1]:
age = 20

if age >= 18:
    print("Eligible to vote")

Eligible to vote

2. if–else Statement

Runs one block if True, another if False.

In [2]:
num = 7

if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

3. if–elif–else Ladder

Used when checking multiple conditions.

Python checks from top → bottom and stops at first True condition.

In [3]:
marks = 75

if marks >= 90:
    print("Grade A")
elif marks >= 60:
    print("Grade B")
else:
    print("Grade C")

Grade B

4. Nested if

An if inside another if.

In [4]:
age = 25
citizen = True

if age >= 18:
    if citizen:
        print("Eligible to vote")

Eligible to vote

Short-Hand if (Ternary Operator)
One-line if–else.

In [5]:
num = 10
result = "Even" if num % 2 == 0 else "Odd"
print(result)

Even

Logical Operators in Conditions
Operator	Meaning
and	        both conditions must be True
or	        at least one True
not	        reverses result

Loops

Loops repeat code multiple times automatically.

Used when:

Doing repeated tasks
Avoiding duplicate code
Iterating over lists/data

Python has two main loops:

while loop
for loop

while Loop

Runs while condition is True.

In [9]:
i = 1

while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

Infinite Loop 
This never stops unless manually broken.

In [ ]:
while True:
    print("Running")

while with else

else runs when loop finishes normally (not by break).

In [10]:
count = 1

while count <= 3:
    print(count)
    count += 1
else:
    print("Completed")

1
2
3
Completed

for Loop
Used to iterate over collections (list, string, range, dictionary, set).

In [11]:
for i in range(5):
    print(i)

0
1
2
3
4

Reverse for Loop

In [12]:
for i in range(5, 0, -1):
    print(i)

5
4
3
2
1

Loop Through List

In [13]:
for x in [10, 20, 30]:
    print(x)

10
20
30

Loop Through String

In [14]:
for ch in "Python":
    print(ch)

P
y
t
h
o
n

Loop Through Dictionary

In [23]:
student = {"name": "Afnan", "age": 22}

for key, value in student.items():
    print(key, value)

name Afnan
age 22

Loop Control Statements

These change loop behavior.
break → Stop Loop Immediately

In [16]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

continue → Skip Current Iteration

In [17]:
for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4

pass → Do Nothing Placeholder

Used when syntax requires code but you don’t want action yet.

In [24]:
for i in range(3):
    pass

Nested Loops

Loop inside another loop.

In [20]:
for i in range(3):
    for j in range(2):
        print(i, j)

0 0
0 1
1 0
1 1
2 0
2 1

Used for:

Pattern printing

Matrix operations

Comparing elements

Loop with Index
Method 1 — range + len

In [21]:
items = ["a", "b", "c"]

for i in range(len(items)):
    print(items[i])

a
b
c

Method 2 — enumerate (Better)

In [88]:
for index, value in enumerate(items):
    print(index, value)

0 a
1 b
2 c

Patterns

right angle triangle

In [25]:
for i in range(1,6):
    print(' * ' *i)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

inverted right angle

In [27]:
for i in range(5,0,-1):
    print(' * ' *i)

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

pyramid pattern

In [28]:
for i in range(1,6):
    print(''*(5-i)+' * '*(2*i-1))

 *
 *  *  *
 *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *

inverted pyramid

In [29]:
for i in range(5,0,-1):
    print(''*(5-i)+' * '*(2*i-1))

 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *
 *  *  *
 *

diamond

In [31]:
for i in range(1,6):
    print(''*(5-i)+' * '*(2*i-1))
for i in range(4,0,-1):
    print(''*(5-i)+' * '*(2*i-1))

 *
 *  *  *
 *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *
 *  *  *
 *

hallow square

In [45]:
for i in range(5):
    for j in range(5):
        if i==0 or i==4 or j==0 or j==4:
           print(' * ',end='')
        else:
           print('   ',end='')
    print()

 *  *  *  *  *
 *           *
 *           *
 *           *
 *  *  *  *  *

full square

In [41]:
for i in range(5):
    print(' * '*5)

 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *

Right Angle triangle

In [46]:
for i in range(1,6):
    print(' '.join(str(x) for x in range(1, i + 1)))

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

inverted right triangle

In [47]:
for i in range(5,0,-1):
    print(' '.join(str(x) for x in range(1, i + 1)))

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

floyds triangle

In [48]:
num=1
for i in range(1,6):
    for j in range(1,i+1):
        print(num,end=' ')
        num+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

hallow right angle triangle

In [49]:
for i in range(1,6):
    for j in range(1,i+1):
        if j==1 or j==i or i==5:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*
* *
*   *
*     *
* * * * *

hallow pyramid

In [60]:
for i in range(1,6):
    for j in range(5 - i):
            print(' ',end=' ')
    for j in range(2 * i - 1):
            if j == 0 or j == 2 * i - 2 or i == 5:
                print('*', end=' ')
            else:
                print(' ',end=' ')
    print()

        *
      *   *
    *       *
  *           *
* * * * * * * * *

hallow diamond

In [61]:
n=5
for i in range(1,n+1):
    for j in range(n - i):
            print(' ',end=' ')
    for j in range(2 * i - 1):
            if j == 0 or j == 2 * i - 2:
                print('*', end=' ')
            else:
                print(' ',end=' ')
    print()

for i in range(n-1,0,-1):
    for j in range(n - i):
            print(' ',end=' ')
    for j in range(2 * i - 1):
            if j == 0 or j == 2 * i - 2:
                print('*', end=' ')
            else:
                print(' ',end=' ')
    print()

        *
      *   *
    *       *
  *           *
*               *
  *           *
    *       *
      *   *
        *

hallow diamond (number)

In [63]:
n=5
for i in range(1, n + 1):
    for j in range(n - i):
            print(' ',end=' ')
    for j in range(2 * i - 1):
            if j == 0 or j == 2 * i - 2:
                print(i, end=' ')
            else:
                print(' ',end=' ')
    print()

for i in range(n-1,0,-1):
    for j in range(n - i):
            print(' ',end=' ')
    for j in range(2 * i - 1):
            if j == 0 or j == 2 * i - 2:
                print(i, end=' ')
            else:
                print(' ',end=' ')
    print()

        1
      2   2
    3       3
  4           4
5               5
  4           4
    3       3
      2   2
        1

butterfly

In [70]:
n=5
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    for j in range(2 * (n - i)):
        print(' ', end=' ')
    for j in range(1, i + 1):
        print(j ,end=' ')
    print()
n=5
for i in range(n, 0 , -1):
    for j in range(1, i + 1):
        print(j, end=' ')
    for j in range(2 * (n - i)):
        print(' ', end=' ')
    for j in range(1, i + 1):
        print(j ,end=' ')
    print()

n=5
for i in range(1, n + 1):
    for j in range(i):
        print('*', end=' ')
    for j in range(2 * (n - i)):
        print(' ', end=' ')
    for j in range(i):
        print('*' ,end=' ')
    print()
for i in range(n, 0 , -1):
    for j in range(i):
        print('*', end=' ')
    for j in range(2 * (n - i)):
        print(' ', end=' ')
    for j in range(i):
        print('*' ,end=' ')
    print()

1                 1
1 2             1 2
1 2 3         1 2 3
1 2 3 4     1 2 3 4
1 2 3 4 5 1 2 3 4 5
1 2 3 4 5 1 2 3 4 5
1 2 3 4     1 2 3 4
1 2 3         1 2 3
1 2             1 2
1                 1
*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

hallow number

In [73]:
n=5
for i in range(1, n + 1):
    for j in range(n - i):
        print(' ', end=' ')

    for j in range(1, 2 * i):
            if j == 1 or j == 2 * i - 1 or i == n:
                print(i, end=' ')
            else:
                print(' ', end=' ')
    print()

        1
      2   2
    3       3
  4           4
5 5 5 5 5 5 5 5 5

full star pyramid

In [75]:
n=5
for i in range(1, n + 1):
    for j in range(n - i):
        print(' ', end=' ')

    for j in range(2 * i - 1):
        print('*', end=' ')
            
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

inverted full star pyramid

In [76]:
n=5
for i in range(n, 0 , -1):
    for j in range(n - i):
        print(' ', end=' ')

    for j in range(2 * i - 1):
        print('*', end=' ')
            
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

left aligned pyramid

In [84]:
n=5
for i in range(1, n + 1):
    for j in range(i):
        print('*', end=' ')
    print()
    
n=5
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

right aligned pyramid

In [87]:
n=5
for i in range(1, n + 1):
    for j in range(n - i):
        print(' ', end=' ')
    for j in range(1, i + 1):
        print(j, end=' ')
    print()
    
n=5
for i in range(1, n + 1):
    for j in range(n - i):
        print(' ', end=' ')   
    for j in range(i):
        print('*', end=' ')
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5
        *
      * *
    * * *
  * * * *
* * * * *

Functions

In [3]:
def greet():
    print("hi")
    
greet()
greet()

hi
hi

In [9]:
def add(x,y):
    c=x+y
    return c

add(5,6)

11

In [12]:
def greet():
    print("hi")
    
def add(x,y):
    c=x+y
    return c

greet()
add(5,6)

hi

11

In [14]:
def add_sub(x,y):
    c=x+y
    d=x-y
    return c,d

result = add_sub(4,5)
print(result)
print(type(result))

(9, -1)
<class 'tuple'>

In [4]:
def add_sub(x,y):
    c=x+y
    d=x-y
    return c,d

result,result1 = add_sub(4,5)

print(result)
print(type(result))
print(result1)
print(type(result1))

9
<class 'int'>
-1
<class 'int'>

In [7]:
def add_sub_mul(x,y):
    c=x++y
    d=x-y
    e=x*y
    return c,d,e

r,r1,r2=add_sub_mul(5,2)
print(r)
print(r1)
print(r2)

7
3
10

In [8]:
def add_sub_mul(x,y):
    c=x++y
    d=x-y
    e=x*y
    return c,d,e

add_sub_mul(5,2)

(7, 3, 10)

In [9]:
def add(a,b): # a, b -- FORMAL ARGUMENT 
    c = a+b
    return c
add(5,6) # 5 , 6 --- ACTUAL ARGUMENT

11

In [10]:
# positional argument

def person(name, age):
    print(name)
    print(age)
    
person('nit', 22)

nit
22

In [13]:
def person(name, age):
    print(name)
    print(age)
    
person('Amrutha',22)

Amrutha
22

In [ ]:
# keyword argument

In [14]:
def person(name, age):
    print(name)
    print(age+1)
    
person(age = 22, name = 'nit')

nit
23

In [15]:
def person(name, age):
    print(name)
    print(age+1)
    
    
person(age = 22, name = 'nit')

nit
23

In [16]:
def person(name, age, phone):
    print(name)
    print(age+1)
    print(phone)
    
person(age = 22, name = 'nit', phone = 789)

nit
23
789

In [ ]:
# default

In [19]:
def person(name, age):
    print(name)
    print(age)
    
person('nit')

TypeError: person() missing 1 required positional argument: 'age'

In [20]:
def person(name, age=18):
    print(name)
    print(age)
    
person('nit')

nit
18

In [22]:
# variable length argument 

def sum(a, b):
    c = a+b
    return c
    
sum(5,6)

11

In [23]:
# variable length argument 

def sum(a, b): 
    c = a+b
    return c
    
sum(5, 6, 7, 8)

TypeError: sum() takes 2 positional arguments but 4 were given

In [24]:
def sum(a, *b): 
    c = a+b
    return c
    
sum(5, 6, 7, 8)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [25]:
def sum(a, *b): # 1st argument is fixed but for 2nd argument
    #c = a+b
    print(a)
    print(type(a))
    
    print(b)
    print(type(b))

sum(5,6,7,8)

5
<class 'int'>
(6, 7, 8)
<class 'tuple'>

In [26]:
def sum(a, *b): # 1st argument is fixed & we fetch each value from the tuple & we can add them. 
    c = a  
    
    for i in b:
        c = c + i 
    print(c)
        
sum(5,6,7,8)

26

In [27]:
def sum(a, *b): # 1st argument is fixed & we fetch each value from the tuple & we can add them. 
    c = a  
    
    for i in b:
        c = c + i 
    print(c)
        
sum(5,6,7,8,9,10,-1,-2,-3, 100, )

139